body{
	background-image: url(https://i.pinimg.com/originals/49/73/ea/4973ead72580df908af111b6770fe6ac.jpg);
	width: 100%;
	background-attachment: no-repeat;
	background-attachment: 50% 100%;

}

.ta
{
	width: 180px;
	height: 74px;
}
at
.pa
{
	width: 50px;
	height: 64px;
}
.espacio
{
height: 35px;

}
