.box{background: #dcdcdc;padding: 15px; margin-top: 20px;}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{color:#fff !important;}
.navbar-light .navbar-nav .nav-link{color:#fff;}